
<div class="container mt-5">
 <div class="row" >
	   <div class="card col-lg-4 mx-auto" style=" box-shadow:  0cm 0 .5em rgb(82, 80, 80); width: 500px;">
		 
 		  
 		  
	<div class="text-center  mt-3" style="color: red;" *ngIf="message"> {{message}}  </div>				 
		<h2  class="text-center mb-3 mt-3" ><b style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3);">Authentification</b></h2>
		<form #form="ngForm" (ngSubmit)="login(form)"  >
			<div class="mb-3">
				<label>
					<b>E-MAIL</b>
				</label>
						<input type="email" class="form-control" placeholder="email or username "
						ngModel ngModel name="username" required email
						name="username" 
						>
						<div *ngIf="notvalid" style="color: red;" >
							{{notvalid}}
						</div>
	         </div>
			<div class="mb-3">
				<label>
					<b>PASSWORD</b>
				</label>
				<input type="password" class="form-control" 
				ngModel   required minlength="5"
				name="password">
				<div *ngIf="passwordnotvalid" style="color: red;" >
					{{passwordnotvalid}}
				</div>
			</div>
			<div class="text-center mb-3">
				
				<button type="submit"  mat-button class="text-center btn btn-primary"> Se Connecter 
				 </button>
				
			</div>
		</form>
		<p class="alert alert-warning">creation une compte admin <a routerLink="/register" mat-button class="text-center btn btn-primary"> S’inscrit </a> </p>
 </div>
</div>
